.container {
    justify-content: flex-start;
}

.Header p {
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 25px;
}

article {
    text-align: start;
    box-shadow: 0 0 40px #DAE5F4;
    border-radius: 30px;
    margin: 20px 20px 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .2s ease-in-out;
}
article:hover {
    transform: scale(1.03);
}
    article h1 {
        font-family: 'raleway', sans-serif;
        color: #7F8CD9;
    }

    article p {
        font-family: 'Roboto mono', monospace;
    }
